

.configReservoir{
  text-align: center;
  color: white;
  padding-top: 2%;
}


.selectReservoir{
  text-align: center;
}
.selected{
  padding-left: 2%;
  padding-right: 2%;
  margin-left: 3%;
  margin-right: 3%;
}